{% extends "student_base.html" %}

{% block content %}
  {% if courses %}
    <div class=" card-columns">
      {% for course in courses %}
      <div class="col mb-4">
        <div class="card">
          <div class="shadow p-3 mb-6 bg-body rounded">
            <img src="{{course.cover_image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Course Title: <strong>{{course.course_title|title}}</strong></h5>
              {% comment %} <p class="card-text">{{course.course_description|truncatewords:20}}</p> {% endcomment %}
              <p class="card-text">Author: <strong>{{course.slug|title}}</strong></p>
              <a class="btn btn-primary" href = "{% url 'all_course_details' course.course_title %}">View Course</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated: {{course.updated_on|timesince}}</small>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

  {% else %}
    <h1>No Course Available</h1>
  {% endif %}
{% endblock content %}
