{% extends "base.html" %}

{% block content %}

{% if courses %}
<div class="card-columns">
    {% for course in courses %}
    <div class="col mb-4">
      <div class="card">
        <div class="shadow p-3 mb-6 bg-body rounded">
          <img src="{{course.cover_image.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Course Title: <strong>{{course.course_title|title}}</strong></h5>
            {% comment %} <p class="card-text">{{course.course_description|truncatewords:20}}</p> {% endcomment %}
            <p class="card-text">Author: <strong>{{course.slug|title}}</strong></p>
            <a class="btn btn-primary" href = "{% url 'specific_course_details' course.course_title %}">View Course</a>
            <a style = 'background-color: green;' class="btn btn-secondary" href = "{% url 'update_course' course.course_title %}">Update Course</a>
            <a style = 'background-color: red;' class="btn btn-secondary" href = "{% url 'delete_course' course.course_title %}">Delete Course</a>
            <div class="card-footer">
              <small class="text-muted">Last updated: {{course.updated_on|timesince}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
</div>
{% else %}
<h1>No Course Available</h1>
<a class="btn btn-primary" href = "{% url 'create_course' %}">Create Course</a>
{% endif %}
{% endblock content %}
